* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #f5ecec;
    --second-bg-color: #131313;
    --text-color: rgb(54, 53, 53);
    --main-color: #19c9bd;
}

/* -main-color: #ff00ff; */

html {
    font-size: 60%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 4rem 12% 4rem;
    background: rgba(13, 202, 216, 0.4);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
}

.logo {
    font-size: 3rem;
    color: var(--bg-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {   
    transform: scale(1.1);
}

.logo span {
    text-shadow: 0 0 25px var(--main-color);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a:active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section{
    min-height: 100vh;
    padding: 10rem 12% 10rem;
}

section.home {
    margin-top: 50px;
}

span{
    color: var(--main-color);
}

.logo span{
    color: var(--main-color);
}

#info {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.home {
    margin-top: 50px;
    font-size: 14px;
}

.home h1 {
    font-weight: bold;
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    transition: transform 0.3s ease-in-out;
}

.home-content img {
    width: 250px; /* Tamaño de las imágenes */
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 30px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1); /* Sombra en la imagen */
}

.home-content img:hover {
    transform: scale(1.05);
}

.home-content h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #2C3E50;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 0;
}

.home-content img + h1 {
    order: 2;
    margin-top: 10px;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: #34495e;
    text-transform: uppercase;
}

.home-content h1 + img {
    order: 1;
    margin-top: 10px;
}

.home-content p {
    font-size: 2rem;
    color: #7f8c8d;
    line-height: 1.6;
    max-width: 500px;
    margin-top: 15px;
}

.home-content h1 span {
    color: #3498db; /* Color de acento */
    font-weight: 500;
}

.div-content {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 0.5rem;
}

.formulario {
    margin-top: 0px !important;
    font-size: 14px;
}

.div-form {
    padding-top: 50px;
    color: var(--bg-color);
    background-color: rgb(23, 141, 150);
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: 950px;
    font-weight: bold;
    border-radius: 20px;
}

.div-form span {
    color: rgb(194, 246, 250);
    font-weight: bold;
}

.cards-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 20px; 
    padding: 20px;
    overflow-x: auto; 
    white-space: nowrap;
}

.card {
    flex: 0 0 auto; /* Mantiene el tamaño de cada tarjeta */
    width: 22rem; /* Tamaño más grande */
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card img {
    height: 200px;
    object-fit: cover;
}

.card-body {
    text-align: center;
    background-color: #f8f9fa;
    padding: 15px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    border-top: 1px solid #ddd;
}

h2 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 25px !important;
}

.pricing-list {
    max-width: 400px;
    margin: 0 auto;
    background: white;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 18px;
}

.list-group-item {
    border: none;
    background: #ffffff;
    padding: 15px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}

.list-group-item:hover {
    background: #e3f2fd; /* Azul claro */
    transform: scale(1.03);
}

.badge {
    font-size: 1.2rem;
    padding: 10px 15px;
}

.card-span  {
    color: rgb(23, 141, 150); /* Color de acento */
    font-weight: 500;
    font-weight: bold;
    font-size: 18px;
}

.accordion-btn {
    background-color: #ccc;
    color: #000;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    cursor: pointer;
}

.panel {
    padding: 10px;
    display: none;
    background-color: #f1f1f1;
}

.active, .accordion-btn:hover {
    background-color: #555;
    color: white;
}